<div>
 <h1 align="center"> Product Details of Product No: {{prodNo}}</h1>

  <table align="center" border="2" >
    <thead>
      <td [colSpan]=2 align="center"><b>Product Details</b></td>
    </thead>
    <tbody>
          <tr>
            <td align="left" >Product No</td>
            <td align="center">{{product.productno}}</td>
          </tr>
          <tr>
            <td align="left">Product Name</td>
            <td align="center">{{product.productname}}</td>
          </tr>
          <tr>
            <td align="left">Manufacturer Name</td>
            <td align="center">{{product.manufacturer}}</td>
          </tr>
          <tr>
            <td align="left">Product Price</td>
            <td align="center">{{product.price}}</td>
          </tr>
    </tbody>
  </table>>
</div>

